.idea/*
.env/*

*.py[cod]
__pycache__

*.log
*.mo

*.env
!example.env

nginx/bot.conf

traefik/traefik.toml
traefik/acme/*s

venv/

docker-compose.yml
modules/echo

private/*
private_modules/*

private-requirements.txt

commands
/.commands/
